*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 100px;
    background-color: aqua;
    display: flex;
    justify-content: space-around;
}
.btn_s{
    width: 1000px;
    height: 100px;
    background-color: aqua;

}
.img{
    width: 100px;
    height: 80px;
}
.img img{
    width: 100%;
    height: 100%;
}
button{
    width: 200px;
    height: 40px;
    border-radius: 10px;
}