*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn_s{
    width: 1200px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 50px;

}
input{
    width: 200px;
    height: 40px;
    border-radius: 10px;
}
.img{
    width: 200px;
    height: 80px;
    margin-left: 50px;
}
.img img{
    width: 100px;
    height: 100%;
    object-fit: cover;
}
button{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;

}
.imgbg{
    width: 100%;
    height: 700px;
}
.imgbg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.all_text{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.all_text .text{
    width: 30%;
    height: 200px;
}
.all_text .text p{
    font-size: 20px;
    line-height: 25px;
    padding: 15px;
}
.main{
    width: 100%;
    height: 500px;
    background-color: aqua;
    padding-top:30px ;
}
.main .h2{
    width: 500px;
    height: 80px;
    background-color: white;
    margin: 0 auto;
    padding: auto;
   
}